<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CacaReceitaProj"
        tools:targetApi="31">
        <activity
            android:name=".activity.MeuLivroReceita"
            android:exported="false" />
        <activity
            android:name=".activity.AdicionarReceita"
            android:exported="false" />
        <activity
            android:name=".activity.RascunhoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AlterarSenha"
            android:exported="false" />
        <activity
            android:name=".activity.Confirmar_Pagamento"
            android:exported="false" />
        <activity
            android:name=".activity.Boleto"
            android:exported="false" />
        <activity
            android:name=".activity.Pix_Mensal"
            android:exported="false" />
        <activity
            android:name=".activity.Pix_Anual"
            android:exported="false" />
        <activity
            android:name=".activity.Fazer_Assinatura_Anual"
            android:exported="false" />
        <activity
            android:name=".activity.FazerAssinatura"
            android:exported="false" />
        <activity
            android:name=".activity.ExcluirConta"
            android:exported="false" />
        <activity
            android:name=".activity.Sair"
            android:exported="false" />
        <activity
            android:name=".activity.ExcluirReceita"
            android:exported="false" />
        <activity
            android:name=".activity.RemoverReceita"
            android:exported="false" />
        <activity
            android:name=".activity.PagamentoCartao"
            android:exported="false" />
        <activity
            android:name=".activity.ReceitaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NovaSenha"
            android:exported="false" />
        <activity
            android:name=".activity.VerfiqueSeuEmail"
            android:exported="false" />
        <activity
            android:name=".activity.LivrosMenu"
            android:exported="false" />
        <activity
            android:name=".activity.Anotacoes"
            android:exported="false" />
        <activity
            android:name=".activity.PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AssinaturaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.buscaReceita"
            android:exported="false" />
        <activity
            android:name=".activity.EsqueciSenha"
            android:exported="false" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CadastroActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>